@model AssetslnWeb.Models.AssetManagement.AM_AssetMainModel

@section style{

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet" />

    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!-- Internal Data table css -->
    <link href="../assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="../assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="../assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">

}

<!-- container opened -->
<div class="container">
    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Dashboard</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->
    <!-- row -->
    <div class="row" ng-app="AssetDashboardapp" ng-controller="AssetDashboardController">
        <div class="col-xl-12 col-lg-12">
            @Html.Partial("AM_DashboardView", Model)
        </div>
    </div>
    <input type="hidden" id="txtid" name="txtname" />
    <!-- row closed -->
</div>
<!-- Container closed -->


<!-- modal pop up -->
<!-- Full Height Modal Right -->
<div class="modal left fade" id="ModalPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static"
     aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer justify-content-center">
                <!--	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>  -->
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->
<!-- end modal pop up -->

@section scripts{

    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>

    <!-- Internal Data tables -->
    <script src="../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="../assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="../assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="../assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="../assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <!--Internal  Datatable js -->
    <script src="../assets/js/table-data.js"></script>

    <script src="~/Scripts/Angular/AssetManagement/JS/AssetDashboard.js"></script>

    <!-- initialize tables  -->
    <script>
        $('#pendingrequest').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_',
            }
        });

        $('#myrequest').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_',
            }
        });

        /*function getViewData(id) {

            document.cookie = "AssetID=" + id;

            Pageredirect("/AssetDashboard/getId");

        }*/

    </script>
}


