@model AssetslnWeb.Models.AssetManagement.AM_AssetMainModel

@section style{

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet" />

    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!-- Internal Data table css -->
    <link href="../assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="../assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="../assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">

    <!--Internal   Notify -->
    <link href="../assets/plugins/notify/css/notifIt.css" rel="stylesheet" />

}

<!-- container opened -->
<div class="container" ng-app="AssetDashboardapp" ng-controller="AssetDashboardController">
    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Dashboard</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->
    <!-- row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12" id="AssetDashboardModel">
            @Html.Partial("AM_DashboardView", Model)
        </div>
    </div>
    <!-- row closed -->
    <!-- apply asset modal pop up -->
    <!-- Full Height Modal Right -->
    <div class="modal left fade" id="ModalPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static"
         aria-hidden="true">
        @Html.Partial("AM_ApplyAssetView", Model)
    </div>
    <!-- Full Height Modal Right -->
    <!-- end apply asset modal pop up -->


    <!-- asset view modal pop up -->
    <!-- Full Height Modal Right -->
    <div class="modal left fade" id="ModalViewPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static"
         aria-hidden="true">
        @Html.Partial("AM_AssetView", Model)
    </div>
    <!-- Full Height Modal Right -->
    <!-- end apply view modal pop up -->


</div>
<!-- Container closed -->


@section scripts{

    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!--Internal  Parsley.min js -->
    <script src="../assets/plugins/parsleyjs/parsley.min.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>

    <!--Internal  Notify js -->
    <script src="../assets/plugins/notify/js/notifIt.js"></script>

    <!-- Internal Data tables -->
    <script src="../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="../assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="../assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="../assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="../assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <!--Internal  Datatable js -->
    <script src="../assets/js/table-data.js"></script>

    <script src="~/Scripts/Angular/AssetManagement/JS/AssetDashboard.js"></script>

    <script>
        $('#pendingrequest').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_',
            }
        });

        $('#myrequest').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_',
            }
        });
    </script>
}


