<div class="d-flex justify-content-between mg-b-20">
    <h4 class="card-title mg-b-0">History:</h4>
</div>

<div class="table-responsive mg-b-30">
    <table class="table table-striped table-bordered mg-b-0 text-md-nowrap">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Action by</th>
                <th>Status</th>
                <th>Date</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @{int indexview = 1;}
            
                @foreach (var obj in ViewBag.assetsHistory)
                {
                    <tr>
                        <th scope="row">@indexview</th>
                        <td>Sandeep Nandalaskar</td>
                        <td>@obj.Status</td>
                        <td>@(obj.CurrentDate.ToString("dd/MM/yyyy"))</td>
                        <td>@obj.Comments</td>
                    </tr>
                    indexview++;
                }
            
        </tbody>
    </table>
</div><!-- bd -->
