button.btn-approve:hover, button.btn-approve:focus {
    background: #286090 !important;
    color: #fff !important;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-approve, .btn-approve:hover {
    border: 1px solid !important;
}

    .btn-approve, .btn-approve:hover, .btn-primary.badge i {
        border-color: #286090 !important;
        color: #286090 !important;
        /* border: 1px solid!important; */
    }

.btnCustom:hover {
    background: #fff;
}

input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover {
    border-color: #92c0e0;
    background-color: #e6f2fa;
    background-color: #e6f2fa;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btnCustom {
    border: 2px solid;
    min-width: 90px !important;
    margin: 2px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 0;
    background-color: transparent;
    margin: 0;
}

    .breadcrumb li:first-child a {
        padding-left: 10px;
    }

    .breadcrumb li a {
        color: #000;
        text-decoration: none;
        padding: 10px 0 10px 40px;
        background: #d9edf7;
        background: #d9edf7;
        position: relative;
        display: block;
        float: left;
    }

    .breadcrumb > li {
        display: inline-block;
        *display: inline;
        text-shadow: 0 1px 0 #fff;
        *zoom: 1;
    }

li {
    line-height: 20px;
}

user agent stylesheet
li {
    text-align: -webkit-match-parent;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #d9edf7;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
