
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="ApproveAssetForm" ng-app="ApproveAssetapp" ng-controller="ApproveAssetController">
    <!-- container opened -->
    <div class="container">

        <!-- breadcrumb -->
        <div class="breadcrumb-header justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                    <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Asset Approval</span>
                </div>
            </div>
        </div>
        <!-- breadcrumb -->
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">


                <!--Entry Code start-->
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="card-body pt-0">
                            <div class="mg-b-50">
                                @*show asset data*@
                                @Html.Partial("ViewAssetData")
                            </div>

                            @*show history data*@
                            @Html.Partial("ViewHistoryData")

                            <div class="row row-sm mg-b-50">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtComment"><span class="tx-bold">Comment</span></label>
                                        <textarea required="" class="form-control" ng-model="ngtxtComment" id="txtComment" placeholder="Enter Comment" rows="3" ng-change="getkeys(ngtxtComment)"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-sm text-center">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-6 col-md-3 mg-t-10">
                                    <button class="btn btn-success btn-block">Approve</button>
                                </div>
                                <div class="col-sm-6 col-md-3 mg-t-10">
                                    <button type="button" class="btn btn-danger btn-block" ng-click="RejectData()">Reject</button>
                                </div>
                                <div class="col-sm-6 col-md-3 mg-t-10">
                                    <button type="button" class="btn btn-light btn-block" ng-click="Cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Entry Code End-->
                <!-- Modal alert message Success -->
                <div class="modal" id="modaldemo4" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content tx-size-sm">
                            <div class="modal-body tx-center pd-y-20 pd-x-20">
                                <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                                <h4 class="tx-success tx-semibold mg-b-20">Success</h4>
                                <p class="mg-b-20 mg-x-20">Asset Request with Request No: @ViewBag.assetsView.RequestNo is Apporved Successfully.</p><button aria-label="Close" class="btn ripple btn-success pd-x-25" type="button" ng-click="PerformAction()">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <!-- row closed -->
    </div>
    <!-- Container closed -->
</form>

@section scripts{
    <!--Internal  Parsley.min js -->
    <script src="../assets/plugins/parsleyjs/parsley.min.js"></script>

    <script src="~/Scripts/Angular/AssetManagement/JS/ApproveAsset.js"></script>
}
