
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet" />

    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

}

@section InlineStyle{

    <style>
        button.btn-approve:hover, button.btn-approve:focus {
            background: #286090 !important;
            color: #fff !important;
        }

        .btn.focus, .btn:focus, .btn:hover {
            color: #333;
            text-decoration: none;
        }

        .btn-approve, .btn-approve:hover {
            border: 1px solid !important;
        }

            .btn-approve, .btn-approve:hover, .btn-primary.badge i {
                border-color: #286090 !important;
                color: #286090 !important;
                /* border: 1px solid!important; */
            }

        .btnCustom:hover {
            background: #fff;
        }

        input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover {
            border-color: #92c0e0;
            background-color: #e6f2fa;
            background-color: #e6f2fa;
        }

        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .btnCustom {
            border: 2px solid;
            min-width: 90px !important;
            margin: 2px;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
        }

        .breadcrumb {
            list-style: none;
            overflow: hidden;
            padding: 0;
            background-color: transparent;
            margin: 0;
        }

            .breadcrumb li:first-child a {
                padding-left: 10px;
            }

            .breadcrumb li a {
                color: #000;
                text-decoration: none;
                padding: 10px 0 10px 40px;
                background: #d9edf7;
                background: #d9edf7;
                position: relative;
                display: block;
                float: left;
            }

            .breadcrumb > li {
                display: inline-block;
                *display: inline;
                text-shadow: 0 1px 0 #fff;
                *zoom: 1;
            }

        li {
            line-height: 20px;
        }

        user agent stylesheet
        li {
            text-align: -webkit-match-parent;
        }

        .breadcrumb li a:before {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 30px solid white;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            margin-left: 1px;
            left: 100%;
            z-index: 1;
        }

        .breadcrumb li a:after {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 30px solid #d9edf7;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 100%;
            z-index: 2;
        }
    </style>

}

<form id="ApplyAssetForm" ng-app="ApplyAssetapp" ng-controller="ApplyAssetController">
    <!-- container opened -->
    <div class="container">
        <!-- breadcrumb -->
        <div class="breadcrumb-header justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                    <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Apply For Asset</span>
                </div>
            </div>
        </div>
        <!-- breadcrumb -->
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">


                <!--Entry Code start-->
                @*@using(Html.BeginForm("SaveAssetData", "ApplyAsset"))
                    {*@
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="card-body pt-0">

                            <div class="row row-sm mg-b-20" ng-show="showApprover">
                                <div class="col-lg-12">
                                    <h5 class="card-title mb-3">Approver</h5>
                                    <div class="row-fluid" id="approval-diagram" style="margin-bottom: 20px">                                    
                                        <ul class="breadcrumb">
                                            <li><a href="#">You</a></li>
                                            <li ng-repeat="i in ApproverData track by $index"><a href="#">{{i}}</a></li>
                                        </ul>
                                        <!--<li><a href="#"><i class="fa fa-check"></i> Completed</a></li>-->
                                    </div>
                                </div>
                                
                            </div>
                            

                            <div class="row row-sm">
                                <div class="col-lg-6"><h5 class="card-title mb-3">Create a new request for Asset</h5></div><div class="col-lg-6"></div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="First_Name">Employee Name</label>
                                        <div id="slWrapper" class="parsley-select">
                                            <select required="" class="form-control EmpSelect" name="EmployeeName" ng-model="ngddlAllUser" ng-change="getApproverInfo(ngddlAllUser)" data-parsley-class-handler="#slWrapper" data-parsley-errors-container="#slErrorContainer">
                                                <option value=""> </option>
                                                @foreach (var obj in ViewBag.EmpArr)
                                                {
                                                    <option value="@obj.UserNameId">
                                                        @obj.User_Name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div id="slErrorContainer"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Request Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                </div>
                                            </div><input required="" class="form-control" ng-model="ngtxtRequestDate" id="datetimepicker" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-sm mg-b-30">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Return Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <script src="~/assets/js/form-elements.js"></script>
                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                </div>
                                            </div><input required="" class="form-control" ng-model="ngtxtReturnDate" id="returndate" type="text" data-parsley-class-handler="#slReturnDate" data-parsley-errors-container="#slReturnDateError">
                                        </div>
                                        <div id="slReturnDateError"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="First_Name">Comments</label>
                                        <textarea required="" class="form-control" ng-model="ngtxtComment" id="txtComment" placeholder="Enter Comment" rows="3"></textarea>
                                    </div>
                                </div>

                            </div>


                            <div class="row row-sm">
                                <div class="col-lg-6"><h5 class="card-title mb-3">Add Assets</h5></div><div class="col-lg-6"></div>

                                <div class="table-responsive mg-b-30 text-center">
                                    <table class="table table-bordered mg-b-0 text-md-nowrap bordertable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Asset</th>
                                                <th scope="col">Asset Type</th>
                                                <th scope="col">Required Quantity</th>
                                                <th scope="col">Reason To Apply</th>
                                                <th scope="col">Asset Details</th>
                                                <th scope="col">Replacement</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div id="slWrapper1" class="parsley-select">
                                                        <select class="form-control SelAsset validate" ng-model="ngddlAsset" id="ddlAsset" ng-change="getAsset()" data-parsley-class-handler="#slWrapper1" data-parsley-errors-container="#slErrorContainer1">
                                                            <option value=""></option>
                                                            @foreach (var j in ViewBag.AssetArr)
                                                            {
                                                                <option value="@j.ID">
                                                                    @j.Assets
                                                                </option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div id="slErrorContainer1"></div>
                                                </td>
                                                <td>
                                                    <div id="slWrapper2" class="parsley-select">
                                                        <select class="form-control SelAssetType validate" ng-model="ngddlAssetType" id="ddlAssetType" ng-options="a.ID as a.AssetType for a in AssetType" data-parsley-class-handler="#slWrapper2" data-parsley-errors-container="#slErrorContainer2">
                                                            <option value=""> </option>
                                                        </select>
                                                    </div>
                                                    <div id="slErrorContainer2"></div>
                                                </td>
                                                <td><input type="text" ng-model="ngtxtQty" class="form-control validate" id="txtQty" placeholder="Enter Required Quantity"></td>
                                                <td><textarea class="form-control validate" ng-model="ngtxtReason" id="txtReason" placeholder="Enter Reason To Apply" rows="3"></textarea></td>
                                                <td><textarea class="form-control validate" ng-model="ngtxtDesc" id="txtDesc" placeholder="Enter Asset Details" rows="3"></textarea></td>
                                                <td>
                                                    <select class="form-control SelReplacement validate" ng-model="ngddlReplacement" id="ddlReplacement">
                                                        <option value=""> </option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </td>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary btn-icon wd-40 ht-30" ng-click="AddAssets()"><i class="fas fa-plus-circle" aria-hidden="true"></i></button>
                                                </th>
                                            </tr>
                                            <tr ng-repeat="i in AssetsArr track by $index">
                                                <td scope="row" data-label="Asset">{{i.Asset}}</td>
                                                <td data-label="AssetType">{{i.AssetType}}</td>
                                                <td data-label="Qty">{{i.Quantity}}</td>
                                                <td data-label="Reason">{{i.Reason}}</td>
                                                <td data-label="Details">{{i.Details}}</td>
                                                <td data-label="Replacement">{{i.Replacement}}</td>
                                                <td scope="col"><button type="button" class="btn btn-primary btn-icon wd-40 ht-30" ng-click="RemoveAssets($index)"><i class="fa fa-trash"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>



                            <div class="row row-sm text-center">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    @*<button class="btn btn-primary btn-block" ng-click="SubmitData()">Submit</button>
                                        <button class="btn btn-primary btn-block">Submit</button>*@
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-light btn-block" ng-click="Cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*}*@
                <!--Entry Code End-->
                <!-- Modal alert message Success -->
                <div class="modal" id="modaldemo4" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content tx-size-sm">
                            <div class="modal-body tx-center pd-y-20 pd-x-20">
                                <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                                <h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
                                <p class="mg-b-20 mg-x-20">Your request have been successfully submitted.</p><button aria-label="Close" class="btn ripple btn-success pd-x-25" data-dismiss="modal" type="button" ng-click="PerformAction()">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- row closed -->
    </div>
    <!-- Container closed -->
</form>

@section scripts{

    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    <!--Internal  Parsley.min js -->
    <script src="../assets/plugins/parsleyjs/parsley.min.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>

    <!--Internal  Notify js -->
    @*<script src="~/assets/plugins/notify/js/notifIt.js"></script>
        <script src="~/assets/js/Notification.js"></script>*@

    <script src="~/Scripts/Angular/AssetManagement/Services/ApplyAssetService.js"></script>
    <script src="~/Scripts/Angular/AssetManagement/JS/ApplyAsset.js"></script>
}


