
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- container opened -->
<div class="container">

    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Asset View</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->
    <!-- row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">


            <!--Entry Code start-->
            <div class="card custom-card">
                <div class="card-body">

                    <div class="card-body pt-0">
                        <div class="mg-b-50">
                            <div class="row row-sm">
                                <div class="col-sm-12 mg-b-20 text-right">
                                    <label for="First_Name">
                                        <span class="tx-bold">Status :</span>
                                        <span class="tx-white bg-primary p-1">Assets approval to TL</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row row-sm mg-b-20">
                                <div class="col-lg-3">
                                    <span class="tx-bold">
                                        <label for="First_Name">Request No</label>
                                    </span>
                                </div>
                                <div class="col-lg-3"><label for="First_Name">AM-202005141029763</label></div>
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Employee Name</label></div></span>
                                <div class="col-lg-3"><label for="First_Name">Sandeep Nandalaskar</label></div>
                            </div>

                            <div class="row row-sm mg-b-20">
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset</label></span></div>
                                <div class="col-lg-3"><label for="First_Name">Desktop</label></div>
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset Type</label></span></div>
                                <div class="col-lg-3">
                                    <label for="First_Name">
                                        Dell Optiplex [6]
                                    </label>
                                </div>
                            </div>

                            <div class="row row-sm mg-b-20">
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset Count</label></span></div>
                                <div class="col-lg-3"><label for="First_Name">5</label></div>
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Warranty</label></span></div>
                                <div class="col-lg-3"><label for="First_Name">3 months</label></div>
                            </div>

                            <div class="row row-sm mg-b-20">
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Request Date</label></span></div>
                                <div class="col-lg-3">
                                    <label for="First_Name">
                                        05/05/2020
                                    </label>
                                </div>
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Return Date</label></span></div>
                                <div class="col-lg-3">
                                    <label for="First_Name">
                                        05/30/2020
                                    </label>
                                </div>
                            </div>

                            <div class="row row-sm mg-b-20">
                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Reason To Apply</label></span></div>
                                <div class="col-lg-3"><label for="First_Name">damage asset</label></div>

                                <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset Details</label></span></div>
                                <div class="col-lg-3"><label for="First_Name">laptop</label></div>
                            </div>

                        </div>


                        <div class="d-flex justify-content-between mg-b-20">
                            <h4 class="card-title mg-b-0">History:</h4>
                        </div>

                        <div class="table-responsive mg-b-30">
                            <table class="table table-striped mg-b-0 text-md-nowrap">
                                <thead>
                                    <tr>
                                        <th>Serial No</th>
                                        <th>Action by</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Sandeep Nandalaskar</td>
                                        <td>Assets approval to TL</td>
                                        <td>05/14/2020</td>
                                        <td>damage asset</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Nand Kumar</td>
                                        <td>Allocate approved asset to employees</td>
                                        <td>05/14/2020</td>
                                        <td>approve</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Vishal Pise</td>
                                        <td>Assets Allocated</td>
                                        <td>05/14/2020</td>
                                        <td>allocate</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Vishal Pise</td>
                                        <td>Assets Allocated</td>
                                        <td>05/14/2020</td>
                                        <td>2 asset allocate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- bd -->


                        <div class="row row-sm text-center">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light btn-block">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Entry Code End-->

        </div>
    </div>
    <!-- row closed -->
</div>
<!-- Container closed -->
