
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- container opened -->
<div class="container">

    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Asset View</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->
    <!-- row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">


            <!--Entry Code start-->
            <div class="card custom-card">
                <div class="card-body">

                    <div class="card-body pt-0">
                        <div class="mg-b-50">
                             @*show asset data*@
                            @Html.Partial("ViewAssetData")
                        </div>

                         @*show history data*@
                        @Html.Partial("ViewHistoryData")

                        <div class="row row-sm text-center">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-light btn-block" onclick="cancel()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Entry Code End-->

        </div>
    </div>
    <!-- row closed -->
</div>
<!-- Container closed -->

<script>
    function cancel() {
        Pageredirect("/AssetDashboard/Index");
    }
</script>